<!DOCTYPE html>
<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
           
             <link rel="stylesheet" href="bootstrap.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.34/css/uikit.min.css">
             <link rel="stylesheet" href="home.css">
             <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->
             <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
             <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">

             <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css">
             <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
            
             <!-- animate CSS -->
             <link rel="stylesheet" href="animate.css">
             <!-- owl carousel CSS -->
             <link rel="stylesheet" href="_intro_video_bg.scss">
        
             <!-- themify CSS -->
           
                         <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css"
             <!-- font awesome CSS -->
             <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.34/css/uikit.min.css">
             <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
             <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.34/css/uikit.min.css"> -->
             <link rel="stylesheet" href="all.css">
             <!-- flaticon CSS -->
             <link rel="stylesheet" href="flaticon.css">
             <!-- magnific popup CSS -->
             <link rel="stylesheet" href="magnific-popup.css">  
             <!-- for opening popup -->
             <!-- nice select CSS -->
             <link rel="stylesheet" href="nice-select.css">
             <!-- swiper CSS -->
             <link rel="stylesheet" href="slick.css">
       
             <title>rcoy</title>
        
    </head>
    <body>
      <div id="home">
          <header class="main_menu home_menu">
              <div class="container">
                  <div class="row align-items-center">
                      <div class="col-lg-12">
                          <nav class="navbar navbar-expand-lg navbar-light">
                              <div class="logo">
                              <a class="navbar-brand" href="/"> RCOY-IIITM</a>
                              </div>
                              <button class="navbar-toggler" type="button" data-toggle="collapse"
                                  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                  aria-expanded="false" aria-label="Toggle navigation">
                                  <span class="fas fa-align-justify"></span>
                                  
                              </button>
      
                              <div class="collapse navbar-collapse main-menu-item justify-content-end"
                                  id="navbarSupportedContent">
                                  <ul class="navbar-nav align-items-center">
                                      <li class="nav-item">
                                          <a class="nav-link" href="#home" data-page="home">Home</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#about" data-page="about">About us</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#hog" data-page="hog">Humans Of Gwalior</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#event" data-page="event">Event</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#gallery" data-page="gallery">Gallery</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#contact"data-page="contact">Contact Us</a>
                                      </li>
                                  </ul>
                              </div>
                          </nav>
                      </div>
                  </div>
              </div>
          </header>
          <div id="home">
          <section class="banner_part">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-7">
                        <div class="banner_text text-center">
                            <div class="banner_text_iner">
                                <h1>ROTARACT CLUB <br>
                                        IIIT GWALIOR </h1>
                                <p>You have never really lived until you have done something for someone who can never repay you</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="banner_video">
                            <div class="banner_video_iner">
                                <img src="images/banner_video.png" alt="">
                                <div class="extends_video">
                                    <a id="play-video_1" class="video-play-button popup-youtube"
                                        href="https://www.youtube.com/watch?v=pBFQdxA-apI">
                                        <span class="fas fa-play"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
      </div>
      </div>
      <div id="about">
      <section class="service_part">
          <div class="container">
              <div class="row justify-content-between align-items-center">
                  <div class="col-lg-4 col-sm-10">
                      <div class="service_text">
                          <h2>About Us</h2>
                          <p>  The purpose of Rotaract is to provide an opportunity for enthusiastic men and women to enhance
  
                                  the knowledge and skills that will assist them in personal development, to address the physical and 
                                  
                                  social needs of their communities, and to promote better relations between all people worldwide 
                                  
                                  through a framework of friendship and service.</p>
                                  <h1 class="s19">FOLLOW US ON</h1>
                                  <div class="social-icons">
                                          
                                           
                                         
                                      <a class="social-icon twitter" href="https://www.facebook.com/pg/rotaractiiitm/about/?ref=page_internal" target="_blank" rel="author">
                                        <i class="fab fa-facebook j6"></i>
                                      </a>
                                   
                                      <a class="social-icon instagram" href="https://www.instagram.com/rotaractiiitm/" target="_blank" rel="author">
                                        <i class="fab fa-instagram j6"></i>
                                      </a>
                                      
                                      <a class="social-icon medium" href="https://medium.com/@rotaractiiitm" target="_blank" rel="author">
                                        <i class="fab fa-medium-m j6"></i>
                                      </a>
                                    
                                      
                                      
                                    </div>
                                  <div class="hello1">
                                  <img src="images/logo.png">
                                  </div>
                                  
                      </div>
                  </div>
                  <div class="col-lg-7 col-xl-6">
                      <div class="service_part_iner">
                          <div class="row">
                              <div class="col-lg-6 col-sm-6">
                                  <div class="single_service_text ">
                                      
                                      <h4>Mother Teresa</h4>
                                      <p>It's not how much we give but how much love we put into giving</p>
                          
                                  </div>
                              </div>
                              <div class="col-lg-6 col-sm-6">
                                  <div class="single_service_text">
                                   
                                      <h4>Albert Einstein</h4>
                                      <p>The value of a man resides in what he gives and not in what he is capable of receiving.</p>
                                      
                                  </div>
                              </div>
                              <div class="col-lg-6 col-sm-6">
                                  <div class="single_service_text">
                                     
                                      <h4>Mother Teresa</h4>
                                      <p>It's not how much we give but how much love we put into giving.</p>
                                     
                                  </div>
                              </div>
                              <div class="col-lg-6 col-sm-6">
                                  <div class="single_service_text">
                                     
                                      <h4>Albert Einstein</h4>
                                      <p>The value of a man resides in what he gives and not in what he is capable of receiving.</p>
                                     
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      </div>
                   
                   <div id="hog">
                  
                             
                    <section class="passion_part passion_section_padding">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-5 col-md-8">
                                    <div class="section_tittle">
                                       <h2 class="j1">Humans Of Gwalior</h2>
                                        <p>We make a LIVING by what we GET, 
                                                But we make a LIFE by what we GIVE! </p>
                
                                    </div>
                                </div>
                            </div>  </div>
                            </section>
                   <div class="uk-section uk-section-default s7">
                      <div class="uk-container">
                        <div class="uk-margin uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
                         
                            <% for(var i=tep-1;i>=tep-3;i--){ %>
                          
                        <div>
                            <div class="uk-animation-toggle" tabindex="0">
                                <div class="uk-margin uk-card uk-card-default uk-card-hover uk-animation-shake">
                                  <div class="uk-card-media-top">
                                    <img src="<%=te[i].imagei%>" alt="human of gwalior" class="ima">
                                    
                              </div>
                            
                                <div class="uk-card-body">
                                    <div class="uk-card-badge uk-label k1">Humans Of Gwalior</div>
                                  <h3 class="uk-card-title"><%=te[i].hog%></h3>
                                  <p><%=te[i].texti%></p>
                               
                              </div>
                              <a class="btn_2" href="<%=te[i].linki%>">Read More</a>
                            </div>
                          </div>
                        </div>
                        
                  
                        <%}%>
                      </div>
                    </div>
                  </div>       
                  <a class="btn_3" href="/name">Discover More</a>
                  </div>    

                  <div id="event">
                      <section class="intro_video_bg">
                          <div class="container">
                              <div class="row justify-content-center">
                                  <div class="col-md-8 col-lg-8">
                                      <div class="intro_video_iner text-center">
                                       <b>   <h2>Events </h2></b>
                                          <p>The essence of education is not to get a certificate or job, but to be a holistically developed person who can positively impact the society.</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          
                      </section>
                      <div class="container container-thumbs s9">
                          <ul class="gallery">
                        
                            
                          <li class="gallery_item"><a href="#popup1" class="gallery_link button"><img src="images/cd.png" alt="" class="thumbnail" /></a></li>
                         
                          <li class="gallery_item"><a href="#popup2" class="gallery_link button"><img src="images/cd.png" alt="" class="thumbnail" /></a></li>
                          
                          <li class="gallery_item"><a href="#popup3" class="gallery_link botton"><img src="images/cd.png" alt="" class="thumbnail" /></a></li>
                         
                          <li class="gallery_item"><a href="#popup4" class="gallery_link button"><img src="images/cd.png" alt="" class="thumbnail" /></a></li>
                         
                          
                            <li class="gallery_item"><a href="#popup5" class="gallery_link button"><img src="images/cd.png" alt="" class="thumbnail" /></a></li>
                           
                            
                            <li class="gallery_item"><a href="#popup6" class="gallery_link button"><img src="images/cd.png" alt="" class="thumbnail" /></a></li>
                            
                            <li class="gallery_item"><a href="#popup7" class="gallery_link button"><img src="images/cd.png" alt="" class="thumbnail" /></a></li>
                           
                            <li class="gallery_item"><a href="#popup8" class="gallery_link button"><img src="images/cd.png" alt="" class="thumbnail" /></a></li>
                            
                            <li class="gallery_item"><a href="#popup9" class="gallery_link button"><img src="images/cd.png" alt="" class="thumbnail" /></a></li>
                            
                          </ul>
                          </div>
                    </div>
                  <div id="gallery">
                    <section class="passion_part passion_section_padding">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-5 col-md-8">
                                    <div class="section_tittle">
                                        <h2 class="j2">Gallery</h2>
                                        <p>We make a LIVING by what we GET, 
                                                But we make a LIFE by what we GIVE! </p>
                
                                    </div>
                                </div>
                            </div>  </div>
                            </section>
    <div class="tz-gallery">

        <div class="row">

            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="/images/5.jpg">
                    <img src="/images/5.jpg" alt="Bridge">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="/images/3.jpg">
                    <img src="/images/3.jpg" alt="Park">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="/images/4.jpg">
                    <img src="/images/4.jpg" alt="Tunnel">
                </a>
            </div>
            <div class="col-sm-12 col-md-14">
                <a class="lightbox" href="/images/2.jpg">
                    <img src="/images/2.jpg" alt="Traffic">
                </a>
            </div>
            <div class="col-sm-4 col-md-4">
                <a class="lightbox" href="/images/6.jpg">
                    <img src="/images/6.jpg" alt="Coast">
                </a>
            </div> 
            <div class="col-sm-4 col-md-4">
                <a class="lightbox" href="/images/6.jpg">
                    <img src="/images/6.jpg" alt="Coast">
                </a>
            </div> 
            <div class="col-sm-4 col-md-4">
                <a class="lightbox" href="/images/6.jpg">
                    <img src="/images/6.jpg" alt="Coast">
                </a>
            </div> 
           
           

        </div>

    </div>

</div>
</div>

<div id="contact">
    <section class="passion_part passion_section_padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-md-8">
                    <div class="section_tittle">
                        <h2 class="j3">Contact Us</h2>
                    </div>
                </div>
            </div>  </div>
            </section>

                    <section class="contact-page-sec">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-4 j4">
                            <div class="contact-info">
                              <div class="contact-info-item">
                                <div class="contact-info-icon">
                                  <i class="fas fa-map-marked"></i>
                                </div>
                                <div class="contact-info-text">
                                  <h2>address</h2>
                                  <span>1215 Lorem Ipsum, Ch 176080 </span> 
                                  <span>Chandigarh , INDIA</span> 
                                </div>
                              </div>            
                            </div>          
                          </div>      
                          <div class="col-md-4 j4">
                            <div class="contact-info">
                              <div class="contact-info-item">
                                <div class="contact-info-icon">
                                  <i class="fas fa-map-marked"></i>
                                </div>
                                <div class="contact-info-text">
                                  <h2>address</h2>
                                  <span>1215 Lorem Ipsum, Ch 176080 </span> 
                                  <span>Chandigarh , INDIA</span> 
                                </div>
                              </div>            
                            </div>          
                          </div>    
                                     
                          <div class="col-md-4 j4">
                            <div class="contact-info">
                              <div class="contact-info-item">
                                <div class="contact-info-icon">
                                  <i class="fas fa-clock"></i>
                                </div>
                                <div class="contact-info-text">
                                  <h2>office time</h2>
                                  <span>Mon - Thu  9:00 am - 4.00 pm</span>
                                  <span>Thu - Mon  10.00 pm - 5.00 pm</span>
                                </div>
                              </div>            
                            </div>          
                          </div>          
                        </div>
                        <div class="row">
                          <div class="col-md-8">
                            <div class="contact-page-form" method="post">
                              <h2>Get in Touch</h2> 
                              <form action="/" method="post">
                                <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                  <label for="name">Name &#42;</label>
                                  <div class="single-input-field">
                                    <input type="text" placeholder="Your Name" name="name"/>
                                  </div>
                                </div>  
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                  <div class="single-input-field">
                                      <label for="email">Email &#42;</label>
                                    <input type="email" placeholder="E-mail" name="emails" required/>
                                  </div>
                                </div>                              
                           
                                <div class="col-md-12 message-input">
                                  <div class="single-input-field">
                                      <label for="message">Message &#42;</label>
                                    <textarea  placeholder="Write Your Message" name="message"></textarea>
                                  </div>
                                </div>                                                
                                <div class="single-input-fieldsbtn">
                                  <input type="submit" value="Send Now"/>
                                </div>                          
                              </div>
                              </form>   
                            </div>      
                          </div>
                          <div class="col-md-4">        
                            <div class="contact-page-map">
                              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d109741.02912911311!2d76.69348873658222!3d30.73506264436677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fed0be66ec96b%3A0xa5ff67f9527319fe!2sChandigarh!5e0!3m2!1sen!2sin!4v1553497921355" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>          
                          </div>        
                        </div>
                      </div>
                    </section>
                    </div>
                    <div id="popup1" class="overlay">
                        <div class="popup">
                          <h2>Appreciation of worker</h2>
                          <a class="close" href="#">&times;</a>
                          <div class="content">
                          Rotarct club paid respect to the foot soldier of ABV-IIITM. They are not just the oldest 
                          people of this place, they are like th elderly people of the IIITM family who have given a considerable 
                        part of their lives in order to make this place worth studying in.</p>
                          </div>
                          <div class="rows">
                            <div class="column78">
                              <img src="89519.jpg">
                              </div>
                              <div class="column78">
                                  <img src="89519.jpg">
                                  </div>
                                  <div class="column78">
                                      <img src="89519.jpg">
                                      </div>
                                      <div class="column78">
                                          <img src="89519.jpg">
                                          </div>
                            </div>
                        </div>
                      </div>

                      <div id="popup2" class="overlay">
                          <div class="popup">
                            <h2>Raksha Bandhan</h2>
                            <a class="close" href="#">&times;</a>
                            <div class="content">
                              This Rakshabandhan Rotarct celebrated the festival with shantineketan. the girl orphanage creating some new bonds and continuing our mission of spreading smile.
                            </div>
                            <div class="rows">
                              <div class="column78">
                                <img src="89519.jpg">
                                </div>
                                <div class="column78">
                                    <img src="89519.jpg">
                                    </div>
                                    <div class="column78">
                                        <img src="89519.jpg">
                                        </div>
                                        <div class="column78">
                                            <img src="89519.jpg">
                                            </div>
                              </div>
                          </div>
                        </div>
                        <div id="popup3" class="overlay">
                            <div class="popup">
                              <h2>Here i am</h2>
                              <a class="close" href="#">&times;</a>
                              <div class="content">
                                Thank to pop me out of that button, but now i'm done so you can close this window.
                                Thank to pop me out of that button, but now i'm done so you can close this window.
                                Thank to pop me out of that button, but now i'm done so you can close this window.
                              </div>
                              <div class="rows">
                                <div class="column78">
                                  <img src="89519.jpg">
                                  </div>
                                  <div class="column78">
                                      <img src="89519.jpg">
                                      </div>
                                      <div class="column78">
                                          <img src="89519.jpg">
                                          </div>
                                          <div class="column78">
                                              <img src="89519.jpg">
                                              </div>
                                </div>
                            </div>
                          </div>
    

                          <div id="popup4" class="overlay">
                              <div class="popup">
                                <h2>Here i am</h2>
                                <a class="close" href="#">&times;</a>
                                <div class="content">
                                  Thank to pop me out of that button, but now i'm done so you can close this window.
                                  Thank to pop me out of that button, but now i'm done so you can close this window.
                                  Thank to pop me out of that button, but now i'm done so you can close this window.
                                </div>
                                <div class="rows">
                                  <div class="column78">
                                    <img src="89519.jpg">
                                    </div>
                                    <div class="column78">
                                        <img src="89519.jpg">
                                        </div>
                                        <div class="column78">
                                            <img src="89519.jpg">
                                            </div>
                                            <div class="column78">
                                                <img src="89519.jpg">
                                                </div>
                                  </div>
                              </div>
                            </div>
                            <div id="popup5" class="overlay">
                                <div class="popup">
                                  <h2>Here i am</h2>
                                  <a class="close" href="#">&times;</a>
                                  <div class="content">
                                    Thank to pop me out of that button, but now i'm done so you can close this window.
                                    Thank to pop me out of that button, but now i'm done so you can close this window.
                                    Thank to pop me out of that button, but now i'm done so you can close this window.
                                  </div>
                                  <div class="rows">
                                    <div class="column78">
                                      <img src="89519.jpg">
                                      </div>
                                      <div class="column78">
                                          <img src="89519.jpg">
                                          </div>
                                          <div class="column78">
                                              <img src="89519.jpg">
                                              </div>
                                              <div class="column78">
                                                  <img src="89519.jpg">
                                                  </div>
                                    </div>
                                </div>
                              </div>
        
                              <div id="popup6" class="overlay">
                                  <div class="popup">
                                    <h2>Here i am</h2>
                                    <a class="close" href="#">&times;</a>
                                    <div class="content">
                                      Thank to pop me out of that button, but now i'm done so you can close this window.
                                      Thank to pop me out of that button, but now i'm done so you can close this window.
                                      Thank to pop me out of that button, but now i'm done so you can close this window.
                                    </div>
                                    <div class="rows">
                                      <div class="column78">
                                        <img src="89519.jpg">
                                        </div>
                                        <div class="column78">
                                            <img src="89519.jpg">
                                            </div>
                                            <div class="column78">
                                                <img src="89519.jpg">
                                                </div>
                                                <div class="column78">
                                                    <img src="89519.jpg">
                                                    </div>
                                      </div>
                                  </div>
                                </div>
          
                                <div id="popup7" class="overlay">
                                    <div class="popup">
                                      <h2>Here i am</h2>
                                      <a class="close" href="#">&times;</a>
                                      <div class="content">
                                        Thank to pop me out of that button, but now i'm done so you can close this window.
                                        Thank to pop me out of that button, but now i'm done so you can close this window.
                                        Thank to pop me out of that button, but now i'm done so you can close this window.
                                      </div>
                                      <div class="rows">
                                        <div class="column78">
                                          <img src="89519.jpg">
                                          </div>
                                          <div class="column78">
                                              <img src="89519.jpg">
                                              </div>
                                              <div class="column78">
                                                  <img src="89519.jpg">
                                                  </div>
                                                  <div class="column78">
                                                      <img src="89519.jpg">
                                                      </div>
                                        </div>
                                    </div>
                                  </div>
                                  <div id="popup8" class="overlay">
                                      <div class="popup">
                                        <h2>Here i am</h2>
                                        <a class="close" href="#">&times;</a>
                                        <div class="content">
                                          Thank to pop me out of that button, but now i'm done so you can close this window.
                                          Thank to pop me out of that button, but now i'm done so you can close this window.
                                          Thank to pop me out of that button, but now i'm done so you can close this window.
                                        </div>
                                        <div class="rows">
                                          <div class="column78">
                                            <img src="89519.jpg">
                                            </div>
                                            <div class="column78">
                                                <img src="89519.jpg">
                                                </div>
                                                <div class="column78">
                                                    <img src="89519.jpg">
                                                    </div>
                                                    <div class="column78">
                                                        <img src="89519.jpg">
                                                        </div>
                                          </div>
                                      </div>
                                    </div>
                                    <div id="popup9" class="overlay">
                                        <div class="popup">
                                          <h2>Here i am</h2>
                                          <a class="close" href="#">&times;</a>
                                          <div class="content">
                                            Thank to pop me out of that button, but now i'm done so you can close this window.
                                            Thank to pop me out of that button, but now i'm done so you can close this window.
                                            Thank to pop me out of that button, but now i'm done so you can close this window.
                                          </div>
                                          <div class="rows">
                                            <div class="column78">
                                              <img src="89519.jpg">
                                              </div>
                                              <div class="column78">
                                                  <img src="89519.jpg">
                                                  </div>
                                                  <div class="column78">
                                                      <img src="89519.jpg">
                                                      </div>
                                                      <div class="column78">
                                                          <img src="89519.jpg">
                                                          </div>
                                            </div>
                                        </div>
                                      </div>
                             
                                        <!-- Footer Bottom -->
                                        <div class="footer-bottom">
                                            <div class="container">
                                                <div class="row clearfix">
                                                    
                                                    <div class="column col-lg-6 col-md-12 col-sm-12">
                                                        <div class="copyright"><span class="theme_color">Developed by</span> &copy;Shivam Agrawal</div>
                                                    </div>
                                                  
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </footer>
                                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
                                    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
                                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
                                    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.34/js/uikit.min.js"></script>
                                    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.34/js/uikit-icons.min.js"></script>
                                    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
                                    <script src="jquery-1.12.1.min.js"></script>
                                    <!-- popper js -->
                                    <script src="popper.min.js"></script>
                                    <!-- bootstrap js -->
                                    <script src="bootstrap.min.js"></script>
                                    <!-- easing js -->
                                    <script src="jquery.magnific-popup.js"></script>
                                    <!-- swiper js -->
                                    <script src="swiper.min.js"></script>
                                    <script src="wow.min.js"></script>
                                    <script src="jquery.smooth-scroll.min.js"></script>
                                    <!-- swiper js -->
                                    <script src="masonry.pkgd.js"></script>
                                    <!-- particles js -->
                                    <script src="owl.carousel.min.js"></script>
                                    <script src="jquery.nice-select.min.js"></script>
                                    <!-- swiper js -->
                                    <script src="slick.min.js"></script>
                                    <script src="jquery.counterup.min.js"></script>
                                    <script src="waypoints.min.js"></script>
                                    <script src="countdown.jquery.min.js"></script>
                                    <!-- contact js -->
                                    <script src="jquery.ajaxchimp.min.js"></script>
                                    <script src="jquery.form.js"></script>
                                    <script src="jquery.validate.min.js"></script>
                                    <script src="mail-script.js"></script>
                                    <script src="contact.js"></script>
                                    <!-- custom js -->
                                    <script src="custom.js"></script>
    
    
<script>
    baguetteBox.run('.tz-gallery');
</script>
        <script>
          $("a").click(function(){
  var pageId = $(this).attr("data-page");
  $("html, body").animate({ scrollTop: $("#"+pageId).offset().top }, 1000);
});
          </script>
    </body>
</html>
